.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  background-color: rgb(74, 75, 75);
}
.Button {
  background-color: rgb(10, 116, 80);
}

.Button2 {
  background-color: rgb(10, 116, 80);
}

.Button3 {
  background-color: rgb(147, 152, 153);
}

.Button4 {
  background-color: rgb(175, 10, 10);
}

.Button5 {
  background-color: rgb(175, 10, 10);
}

.edit_button {
  background-color: orange;
}

.cancel_button {
  background-color: rgb(175, 10, 10);
}

.edit_user {
  background-color: orange;
}

.log_background {
  background-color: rgb(217, 219, 214);
  border-color: rgb(0, 0, 0);
}
